{% extends 'base.html' %}
{% block content %}
    

<form class="add-form" action="/members/{{ member.id }}" method="post">
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name"  value="{{ member.first_name }}" placeholder="First Name" required autofocus>
    </div>
  
    <div>
      <label for="last_name">Last name:</label>
      <input type="text" id="last_name" name="last_name" value="{{ member.last_name }}" placeholder="Last Name" required>
    </div>
  
    <div>
      <label for="dob">Date of Birth:</label>
        <input type="date", id="dob" name="dob" value="{{ member.dob }}">
    </div>
  

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ member.email }}"  placeholder="Email" required>
      </div>

      <div>
        <label for="membership_type">Membership Type:</label>
        <select name="membership_type" id="membership_type">
        <option value="Standard" {% if member.membership_type == "Standard" %}
            selected="selected"
        {% endif %}>Standard</option>
        <option value="Premium" {% if member.membership_type == "Premium" %}
            selected="selected"
        {% endif %}>Premium</option>
    </select>
      </div>

      <div>
        <label for="active">Active:</label>
        <select name="active" id="active">
        <option value="True" {% if member.active == True %}
            selected="selected"
        {% endif %}>True</option>
        <option value="False" {% if member.active ==False %}
            selected="selected"
        {% endif %}>False</option>
    </select>
      </div>


    <button type="submit">Edit Member</button>
  
  </form>

  {% endblock content %}