{% extends 'base.html' %}

{% block content %}

<div class="add_member_logo">
    <a href="/members/add"> <img src="/static/images/add_member.png" alt="Add Member Logo/Button"></a>
</div>
    <table class="table-info">
        <caption>All Members</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Membership Type</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}

            <tr onclick="window.location='/members/{{ member.id }}';">
                <td>{{member.id}}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.dob }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.membership_type }}</td>
                <td>{{ member.active }}</td>
                <td><a class="edit-link" href="/members/{{ member.id }}/edit">Edit</a></td>
                <td>
                    <form class="delete_form" action="/members/{{ member.id }}/delete" method='POST'>
                        <button class="button-delete" >Delete</button>
                    </form>
                </td>
            </tr>
            
    
            {% endfor %}
        </tbody>
            
        


    </table>
{% endblock content %}