{% extends 'base.html' %}

{% block content %}

<div class="add_class_logo">
    
    <a href="/fitness_classes/add"> <img src="/static/images/add_class.png" alt="Add ClassLogo/Button"></a>
</div>
    <table class="table-info">
        <caption>All Classes</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Day</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr onclick="window.location='/fitness_classes/{{ class.id }}';"> 
                <td>{{class.name}}</td>
                <td>{{ class.capacity }}</td>
                <td>{{ class.start_time }}</td>
                <td>{{ class.duration}}</td>
                <td>{{ class.day }}</td>
                <td>{{ class.active }}</td>
                <td><a class="edit-link" href="/fitness_classes/{{ class.id }}/edit">Edit</a></td>
                <td>
                    <form class="delete_form" action="/fitness_classes/{{ class.id }}/delete" method="POST">
                        <button class="button-delete">Delete</button>
                    </form>
                </td>
            </tr>
            
    
            {% endfor %}
        </tbody>
            
        


    </table>
{% endblock content %}