{% extends 'base.html' %}

{% block content %}
<div class="add_class_logo">
    <a href="/bookings/add"> <img src="/static/images/add_class.png" alt="Add ClassLogo/Button"></a>
</div>
<table class="table-info">
    <caption>Bookings</caption>
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Member ID</th>
            <th>Member First Name</th>
            <th>Member Last Name</th>
            <th>Class</th>
            <th>Class Day</th>
            <th>Class Time</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id}}</td>
            <td>{{ booking.member.id}}</td>
            <td>{{ booking.member.first_name }}</td>
            <td>{{ booking.member.last_name }}</td>
            <td>{{ booking.fitness_class.name }}</td>
            <td>{{ booking.fitness_class.day }}</td>
            <td>{{ booking.fitness_class.start_time }}</td>
            <td>
                <form class="delete_form" action="/bookings/{{ booking.id }}/delete" method='POST'>
                    <button class="button-delete">Delete</button>
                </form>
            </td>
        </tr>


        {% endfor %}
    </tbody>




</table>
{% endblock content %}