{% extends 'base.html' %}

{% block content %}
<main>
    <section>
        <div class="flex-grid">
            <div class="box box1">
                <h3>Business Updates</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum obcaecati eum quia eos nostrum
                    similique qui nulla reiciendis, in nam repudiandae reprehenderit. Ipsa mollitia doloremque numquam,
                    dolorem consequuntur itaque nam maxime aperiam ad delectus sit optio omnis impedit iusto accusamus!
                </p>
            </div>
            <div class="box box2">
                <h3>Staff Updates</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores vitae modi esse adipisci ullam
                    in sequi, cumque, non, eius nisi fuga laudantium. Architecto fuga sed dolores, pariatur quae
                    quibusdam dicta officia officiis odit dolorem. Consectetur saepe aliquam corporis animi numquam? Et
                    culpa quis blanditiis ratione! Quas quibusdam nam excepturi expedita.</p>
            </div>
            <div class="box box3">
                <h3>Membership Details</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum culpa nam excepturi soluta, ad facilis corrupti sapiente voluptate recusandae necessitatibus vero voluptatem nihil reprehenderit quae, maiores ut impedit? Optio quo placeat reprehenderit velit aliquam magnam, aspernatur soluta quas beatae neque rerum laudantium aliquid quidem dolorem. Eum aut atque expedita minus.</p>
            </div>
            <div class="box box3">
                <h3>Member Updates</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores vitae modi esse adipisci ullam
                    in sequi, cumque, non, eius nisi fuga laudantium. Architecto fuga sed dolores, pariatur quae
                    quibusdam dicta officia officiis odit dolorem. Consectetur saepe aliquam corporis animi numquam? Et
                    culpa quis blanditiis ratione! Quas quibusdam nam excepturi expedita.</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}